.App {
    width: 100%;
}

/* Joke CSS */
.JokeCSS {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    font-family: 'Rubik', sans-serif;
    color: #78909c;
    background: linear-gradient(
        135deg,
        rgba(179,229,252,1) 0%,
        rgba(179,229,252,1) 50%,
        rgba(240,98,146,1) 50%,
        rgba(240,98,146,1) 100%
    );
}
/* End Joke CSS */


.active-link {
    color: green;
    border-bottom: 1px solid red;
}
