.Pokecard {
    /* border: 2px solid mediumaquamarine; */
    width: 300px;
    padding: 1rem;
    margin: 1rem;
    box-shadow: 7px 10px 12px -5px rgba(0, 0, 0, 0.56);
    text-align: center;
    background-color: #ffffff;
    border-radius: 3px;
}

.Pokecard-data {
    font-size: 80%;
}

.Pokecard-image {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 250px;
    background-color: #eceff1;
    border-radius: 3px;
    margin-bottom: 1rem;
}
.Pokecard img {
    transition: all 0.5s ease;
}
.Pokecard img:hover {
    transform: scale(1.25);
    opacity: 0.7;
}