.Die {
    font-size: 10rem;
    padding: 1rem;
    color: slateblue;
    
}
.shaking {
     animation-name: wobble;
     animation-duration: 1s;
}

.RollDice {
    width: 100%;
    text-align: center;
    display: flex;
    flex-flow: column nowrap;
    min-height: 100vh;
}

.RollDice-container {
    width: 100%;
    justify-content: center;
    display: flex;
}

.btn {
    width: 15rem;
    font-size: 20px;
    padding: 20px 60px;
    background-color: black;
    border: none;
    border-radius: 10px;
    outline: 0;
    color: white;
    cursor: grab;
    transition: all 0.5s ease;
    display: block;
    margin: auto;
    margin-top: 30px;    
}

.btn:hover {
    background-color: darkslateblue;
}

.btn:focus {
    outline: none;
}

/* @keyframes wobble {
    from {
        transform: translate3d(0, 0 , 0);
    }

    15% {
        transform: translate3d(-25%, 0 , 0) rotate(0, 0, 1, -5deg);
    }

    30% {
        transform: translate3d(20%, 0 , 0) rotate(0, 0, 1, 3deg);
    }

    45% {
        transform: translate3d(-15%, 0 , 0) rotate(0, 0, 1, -3deg);
    }

    60% {
        transform: translate3d(10%, 0 , 0) rotate(0, 0, 1, 2deg);
    }

    75% {
        transform: translate3d(-5%, 0 , 0) rotate(0, 0, 1, -1deg);
    }

    to {
        transform: translate3d(0, 0 , 0);
    }
} */

@-webkit-keyframes wobble {
    from {
        -webkit-transform: translate3d(0, 0 , 0);
                transform: translate3d(0, 0 , 0);
    }

    15% {
        -webkit-transform: translate3d(-25%, 0 , 0) rotate(0, 0, 1, -5deg);
                transform: translate3d(-25%, 0 , 0) rotate(0, 0, 1, -5deg);
    }

    30% {
        -webkit-transform: translate3d(20%, 0 , 0) rotate(0, 0, 1, 3deg);
                transform: translate3d(20%, 0 , 0) rotate(0, 0, 1, 3deg);
    }

    45% {
        -webkit-transform: translate3d(-15%, 0 , 0) rotate(0, 0, 1, -3deg);
                transform: translate3d(-15%, 0 , 0) rotate(0, 0, 1, -3deg);
    }

    60% {
        -webkit-transform: translate3d(10%, 0 , 0) rotate(0, 0, 1, 2deg);
                transform: translate3d(10%, 0 , 0) rotate(0, 0, 1, 2deg);
    }

    75% {
        -webkit-transform: translate3d(-5%, 0 , 0) rotate(0, 0, 1, -1deg);
                transform: translate3d(-5%, 0 , 0) rotate(0, 0, 1, -1deg);
    }

    to {
        -webkit-transform: translate3d(0, 0 , 0);
                transform: translate3d(0, 0 , 0);
    }
}
@keyframes wobble {
    from {
        -webkit-transform: translate3d(0, 0 , 0);
                transform: translate3d(0, 0 , 0);
    }

    15% {
        -webkit-transform: translate3d(-25%, 0 , 0) rotate(0, 0, 1, -5deg);
                transform: translate3d(-25%, 0 , 0) rotate(0, 0, 1, -5deg);
    }

    30% {
        -webkit-transform: translate3d(20%, 0 , 0) rotate(0, 0, 1, 3deg);
                transform: translate3d(20%, 0 , 0) rotate(0, 0, 1, 3deg);
    }

    45% {
        -webkit-transform: translate3d(-15%, 0 , 0) rotate(0, 0, 1, -3deg);
                transform: translate3d(-15%, 0 , 0) rotate(0, 0, 1, -3deg);
    }

    60% {
        -webkit-transform: translate3d(10%, 0 , 0) rotate(0, 0, 1, 2deg);
                transform: translate3d(10%, 0 , 0) rotate(0, 0, 1, 2deg);
    }

    75% {
        -webkit-transform: translate3d(-5%, 0 , 0) rotate(0, 0, 1, -1deg);
                transform: translate3d(-5%, 0 , 0) rotate(0, 0, 1, -1deg);
    }

    to {
        -webkit-transform: translate3d(0, 0 , 0);
                transform: translate3d(0, 0 , 0);
    }
}